body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #f2f2f2;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #dddddd;
  color: black;
}

.topnav a.active {
  background-color: darkgrey;
  color: #f2f2f2;
}
.divsec
{
height:300px;
border:solid 2px yellow;
background-color:lightgreen;
padding:15px;
margin:25px;
}
.divsec2
{
height:256px;
border:solid 2px lightgreen;
background-color:yellow;
padding:15px;
margin:25px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  border-color: #96D4D4;
}

